---
---
html{
  -webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
}
.col-md-4{
  padding-top: 20px;
  padding-bottom: 20px;
}
.jumbotron{
  background-color: rgba(0,0,0,0);
}
 body {
   margin: 0px;
        margin-top:100px;
        background-color: #f5f5f5;
    font-family: "chivo", helvetica, arial;
      }
.menu,.mobilemenu{
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  display: block;
  position: fixed;
  z-index: 1;
  background-color: rgba(240,240,240,0.9);
  top: 0px;
  left:0px;
  right:0px;
  height:60px;
  padding-left: 60px;
  cursor: default;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.menuhome,#innermobilemenuopener{
  display: inline-block;
  background-image: url("{{ site.baseurl }}/img/menuhome2.png");
  background-repeat: no-repeat;
background-size:auto 60px;
  height:60px;
  width: 134px;
line-height: 60px;
  cursor: pointer;
  margin-right: 10px;
}
.menuhome:hover{
text-decoration: none;
background-image: url("{{ site.baseurl }}/img/menuhomehover.png");
}
.menuhome:active,.menuhome.selected{
background-image: url("{{ site.baseurl }}/img/menuhomeactive.png");
}
.menubutton{
  color: #444;
  display: inline-block;
  height:60px;
  cursor: pointer;
  text-align: center;
line-height: 60px;
text-transform: uppercase;
margin-left: -5px;
margin-right: -5px;
}
.menubutton::before{
  content: ".";
  color: transparent;
  display: inline-block;
  height:60px;
  width: 25px;
}
.menubutton::after{
  content: ".";
  color: transparent;
  display: inline-block;
  height:60px;
  width: 25px;
}
.menubutton:hover{
  color: #444;
text-decoration: none;
background-image: linear-gradient(left, transparent 20px,#ddd 20px, #ddd calc(100% - 20px),transparent calc(100% - 20px),transparent 100%);
background-image: -moz-linear-gradient(left, transparent 20px,#ddd 20px, #ddd calc(100% - 20px),transparent calc(100% - 20px),transparent 100%);
background-image: -webkit-linear-gradient(left, transparent 20px,#ddd 20px, #ddd calc(100% - 20px),transparent calc(100% - 20px),transparent 100%);

}
.menubutton:hover::before{
  background: url("{{ site.baseurl }}/img/btnleftedgehover.png");  background-repeat: no-repeat; background-size:auto 60px;
}
.menubutton:hover::after{
  background: url("{{ site.baseurl }}/img/btnrightedgehover.png");  background-repeat: no-repeat; background-size:auto 60px;
}
.menubutton:active,.menubutton.selected{
  color: #fff;
text-decoration: none;
background-image: linear-gradient(left, transparent 20px,#26abe2 20px, #26abe2 calc(100% - 20px),transparent calc(100% - 20px),transparent 100%);
background-image: -moz-linear-gradient(left, transparent 20px,#26abe2 20px, #26abe2 calc(100% - 20px),transparent calc(100% - 20px),transparent 100%);
background-image: -webkit-linear-gradient(left, transparent 20px,#26abe2 20px, #26abe2 calc(100% - 20px),transparent calc(100% - 20px),transparent 100%);
}
.menubutton:active::before,.menubutton.selected::before{
  background: url("{{ site.baseurl }}/img/btnleftedgeactive.png");  background-repeat: no-repeat; background-size:auto 60px;
}
.menubutton:active::after,.menubutton.selected::after{
  background: url("{{ site.baseurl }}/img/btnrightedgeactive.png");  background-repeat: no-repeat; background-size:auto 60px;
}
.social{
    display: inline-block;
    float:right;
    margin-right: 60px;
}
.fb,.tw,.in{
  display: inline-block;
  height:60px;
  width: 40px;
line-height: 60px;
  text-align: center;
}
.fb a,.tw a,.in a{
  vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    background-image: url("{{ site.baseurl }}/img/fb.png");
    background-repeat: no-repeat;
  background-size:auto 30px;
  background-position: center;
    height:30px;
    width: 30px;
}
.fb a:hover,.tw a:hover,.in a:hover{
  text-decoration: none;
  background-image: url("{{ site.baseurl }}/img/fbhover.png");
}
.tw a{
background-image: url("{{ site.baseurl }}/img/tw.png");
}
.tw a:hover{
background-image: url("{{ site.baseurl }}/img/twhover.png");
}
.in a{
background-image: url("{{ site.baseurl }}/img/in.png");
}
.in a:hover{
background-image: url("{{ site.baseurl }}/img/inhover.png");
}

#innermobilemenu{
display: none;
background-color: rgba(240,240,240,0.9);
right:0px;
left:0px;
position: absolute;
text-align: center;
}
#innermobilemenu .show{
  display: block;
}
.mobilemenu{
padding-left: 15px;
}
#innermobilemenuopener{
  text-decoration: none;
  float:right;
  background-image: url("{{ site.baseurl }}/img/mobilemenu.png");
}
#innermobilemenuopener:hover{
  text-decoration: none;
}
#innermobilemenuopener.show{
  text-decoration: none;
  background-image: url("{{ site.baseurl }}/img/mobilemenutap.png");
}
#innermobilemenu .social{
  text-align: center;
  float: none;
  margin: 0px;
  z-index: 10000;
}

.mobilemenubutton{
  color: #444;
  display: inline-block;
  height:40px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
}
.mobilemenubutton:hover,.mobilemenubutton:active,.mobilemenubutton:focus{
  color: #fff;
  text-decoration: none;
  background-color: #00adef;
}
.mobilemenubutton.selected{
  color: #fff;
  text-decoration: none;
  background-color: #00adef;
}

.button{
  display: inline-block;
  background:#00adef;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color:#fff;
}
.button:hover{
text-decoration: none;
background:#444;
color:#fff;
}


h1{
letter-spacing: 0.1em;
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  padding: 17px;
  background-color: #ddd;
}
h2{
  letter-spacing: 0.1em;
  font-size: 20px;
  display: inline-block;
}
.hexagon{
display: block;
background-image: url("{{ site.baseurl }}/img/hexagon.png");
background-repeat: no-repeat;
background-size: 30px 30px;
background-position: center;
width: 30px;
height:30px;
margin: 0 auto;
padding-top: 50px;
padding-bottom: 50px;
}
.emphasize{
  text-align: center;
  padding-bottom: 70px;
  padding-top: 70px;
  margin-top:100px;
  margin-bottom: 100px;
  background-color: #fff;
  margin-left: -50px;
  margin-right: -50px;
  padding-left: 100px;
  padding-right: 100px;
}
.sponsor.platinum{
border-left: 10px solid #ccc;
}
.sponsor.gold{
border-left: 10px solid #D9A441;
}
.sponsor.silver{
border-left: 10px solid #A8A8A8;
}
.sponsor.bronze{
border-left: 10px solid #965A38;
}
.sponsor{
  padding-bottom: 70px;
  padding-top: 70px;
  margin-top:100px;
  margin-bottom: 100px;
  background-color: #fff;
  margin-left: -50px;
  margin-right: -50px;
  padding-left: 100px;
  padding-right: 100px;
}
.sponsorlogo{
float:left;
width:200px;
text-align: center;
}
.sponsor h2{
  background-color: transparent;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;;
}

.sponsorlogo img{
  width: 100%;
}
.sponsortext{
display: block;
float: right;
width: calc(100% - 250px);
}
.container-fluid{
  padding-left: 50px;
    padding-right: 50px;
  background-image:url("{{ site.baseurl }}/img/watermark.png");
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: 105% 100%;
}
.container{
background-image:url("{{ site.baseurl }}/img/watermark.png");
background-repeat: no-repeat;
background-size: 400px;
background-position: 105% 100%;
}
      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
  .logo{
	width:400px;
}
.masthead{
  text-align: center;
  margin-top: 200px;
}
.footer{
  margin-top: 400px;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 300;
font-size: 20px;
}
a{
  color: #00adef;
}
a:hover{
  color: #00adef;
}
.mobilemenu{
display: none;
}
@media (max-width:1100px) {
  .emphasize{
  padding-left: 20px;
  padding-right: 20px;
  }
  .sponsor{
  padding-left: 20px;
  padding-right: 20px;
  }
  .menu{
  display: none;
}
.mobilemenu{
  display: block;
}
}
@media (max-width:1000px) and (orientation:portrait){
  .sponsortext{
  display: block;
  float: right;
  width: auto;
  }
  .logo{
  width:200px;
}
  input.form-control,input.form-control,.form-control,input{
    line-height: 36px;
    height: 36px;
    font-size: 22px;
  }
}

.committeePhoto{
  text-align: center;
  margin-top: 50px;
}
.committeePhoto p img{
  border-radius: 100%;
}
