---
permalink: /
layout: inscite
---
<div class="masthead" style="margin-top: 80px;">
  <img src='img/logo.png' class='logo'>
</div>

<div class="jumbotron">
  <p class="lead">
    The Interdisciplinary Science, Technology and Engineering Conference.<br>
    For undergrads, by undergrads.<br>
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Oxford, UK
  </p>
</div>

<div class="emphasize">
  {% if site.phase==1 %}
    <h2>Tickets for 2017 will go on sale in Michaelmas term, like us on <a href="https://m.facebook.com/insciteco/">Facebook</a> for updates.</h2>
  {% elsif site.phase==0 %}
    <h3><b>80% off tickets!</b></h3>
    <h4 style="display:inline;"> Ticket prices have just been reduced from &pound;25 to </h4><h3 style="display:inline;">&pound;5!</h3>
    <br><br>
    <a class="btn btn-success" href="http://inscite.co/attend/buy">Buy now</a>
  {% elsif site.phase == 2 %}
    <h2>We are now accepting applications for speakers!</h2><br>
    <a href="http://www.inscite.co/talk" class="button">Submit an application</a> or email us at <a href="mailto:speakers@inscite.co">speakers@inscite.co</a> if you have any questions.<br>
    <h2>Deadline is Friday 4th of December 2015</h2>
  {% endif %}
</div>


<div class="row">
  <div class="col-md-6">
    <h2>What is IN[SCI]TE?</h2><br>
	<p><ul>
      <li>IN[SCI]TE is an interdisciplinary Science, Technology, and Engineering conference based  Oxford University.</li>
      <li>IN[SCI]TE is run by undergrads, and the talks will be both delivered by and aimed at undergrads.</li>
      <li>Now in its second year IN[SCI]TE will be held over the Easter holidays, date TBC.</li>
    </ul></p>
  </div>
		
  <div class="col-md-6">
	<h2>What does IN[SCI]TE do?</h2><br>
	<p><ol>
		<li>Broaden the scientific knowledge of the undergraduates outside of their field of study, which becomes narrower and narrower throughout university.</li>
		<li>Give undergraduates the opportunity to attend; and the opportunity and resources to give a talk at a scientific conference.</li>
		<li>Introduce undergraduate scientists to existing interdisciplinary research projects and give them ideas and inspiration to come up with ideas of their own.</li>
		<li>Inform undergraduates on possible career paths within the scientific and technological community - both in academia and industry.</li>
	</ol></p>
  </div>

  <div class="col-md-6">
    <h2>What will the talks be like?</h2><br>
    <p><ul>
      <li>Our student speakers are from all disciplines of science.</li>
      <li>They will talk about a project, internship, or piece of independent science research they've done.</li>
	  <li>The presentation will be at a level which allows students from other disciplines to easily understand.</li>
	  <li>Our speakers are given a presentation skills workshop by the careers service to ensure they are well equipped to give a talk.</li>
    </ul></p>
  </div>
</div>

<!--
<div class="jumbotron">
  <p class="lead">
  {% if site.phase==1 %}
    <h3>Follow us on <a href="https://m.facebook.com/insciteco/">Facebook</a> for information on ticket release in Michelmas term.<h3>
  {% elsif site.phase==2 %}
    <h3>Ticket sales are now open!<h3>
    <a class="btn btn-success" href="/attend/buy/">Buy now</a>
  {% endif %}
  </p>
</div>
-->